<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

<!-- =========================================== DAO -->
	
	<bean id="daoCeremonie"         class="dao.hibernate.DAOCeremonieHbn" />
	<bean id="daoFilm"              class="dao.hibernate.DAOFilmHbn" />
	<bean id="daoFilmTemp"          class="dao.hibernate.DAOFilmTempHbn" />
	<bean id="daoModifRelFilmPers"  class="dao.hibernate.DAOModifRelFilmPersHbn" />
	<bean id="daoNote"              class="dao.hibernate.DAONoteHbn" />
	<bean id="daoPersonne"          class="dao.hibernate.DAOPersonneHbn" />
	<bean id="daoPersonneTemp"      class="dao.hibernate.DAOPersonneTempHbn" />
	<bean id="daoPrix"              class="dao.hibernate.DAOPrixHbn" />
	<bean id="daoPro"               class="dao.hibernate.DAOProHbn" />
	<bean id="daoRecompense"        class="dao.hibernate.DAORecompenseHbn" />
	<bean id="daoRecompenseTemp"    class="dao.hibernate.DAORecompenseTempHbn" />
	
<!-- =========================================== Actions -->
	
	<bean name="/AfficheFilm" class="struts.action.ActionAfficheFilm">
		<property name="daoFilm" ref="daoFilm" /><!-- le nom de l'attribut pour le setter ; l'id correspondant dans la liste ci-dessus -->
	</bean>
	
	<bean name="/verifAddOrUpdateFilm" class="struts.action.ActionAjoutFilm">
		<property name="daoFilmTemp" ref="daoFilmTemp" />
	</bean>
	
	
	
	
	
	
	
	
	
</beans>