<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	
<!-- =========================================== DAO -->
	
	
	<bean id="daoCeremonie"         class="dao.hibernate.DAOCeremonieHbn" />
	<bean id="daoFilm"              class="dao.hibernate.DAOFilmHbn" />
	<bean id="daoFilmTemp"          class="dao.hibernate.DAOFilmTempHbn" />
	<bean id="daoModifRelFilmPers"  class="dao.hibernate.DAOModifRelFilmPersHbn" />
	<bean id="daoNote"              class="dao.hibernate.DAONoteHbn" />
	<bean id="daoPersonne"          class="dao.hibernate.DAOPersonneHbn" />
	<bean id="daoPersonneTemp"      class="dao.hibernate.DAOPersonneTempHbn" />
	<bean id="daoPrix"              class="dao.hibernate.DAOPrixHbn" />
	<bean id="daoPro"               class="dao.hibernate.DAOProHbn" />
	<bean id="daoRecompense"        class="dao.hibernate.DAORecompenseHbn" />
	<bean id="daoRecompenseTemp"    class="dao.hibernate.DAORecompenseTempHbn" />
	
<!-- =========================================== Actions -->
	
	<bean name="/AfficheFilm" class="struts.action.ActionGetFilm">
		<property name="daoFilm" ref="daoFilm" />
	</bean>
	
	<bean name="/verifAddOrUpdateFilm" class="struts.action.ActionAjoutFilm">
		<property name="daoFilmTemp" ref="daoFilmTemp" />
	</bean>
	
	<bean name="/VerifLogin" class="struts.action.ActionVerifLogin">
		<property name="daoPro" ref="daoPro" />
	</bean>
	
	<bean name="/AjoutPro" class="struts.action.ActionAjoutPro">
		<property name="daoPro" ref="daoPro"/>
	</bean>
	
	<bean name="/Recherche" class="struts.action.ActionRecherche">
		<property name="daoFilm" ref="daoFilm"/>
		<property name="daoPersonne" ref="daoPersonne"/>
	</bean>
	
	<bean name="/modifFilm" class="struts.action.ActionGetFilm">
		<property name="daoFilm" ref="daoFilm"/>
	</bean>
	
	<bean name="/noterFilm" class="struts.action.ActionGetFilm">
		<property name="daoFilm" ref="daoFilm"/>
	</bean>
	
	<bean name="/actionNoterFilm" class="struts.action.ActionNoterFilm">
		<property name="daoNote" ref="daoNote"/>
		<property name="daoFilm" ref="daoFilm"/>
	</bean>
	
	<bean name="/modifPersonne" class="struts.action.ActionGetPersonne">
		<property name="daoPersonne" ref="daoPersonne" />
	</bean>
	
	<bean name="/verifAddOrUpdatePersonne" class="struts.action.ActionAjoutPersonne">
		<property name="daoPersonneTemp" ref="daoPersonneTemp" />
	</bean>
	
	<bean name="/AffichePersonne" class="struts.action.ActionGetPersonne">
		<property name="daoPersonne" ref="daoPersonne" />
	</bean>
	
	
	
	
	
	
	
	
	
	
</beans>