body
{


}

#header
{
	border:solid 1px;
	position:absolute;
	width:820px;
	height:70px;
}

#header #zone_connexion
{
 position:absolute;
 top:0px;
 left:470px;
 width:350px;
 height:70px;
border-left:solid 1px;
}

#corps
{
	border:solid 1px;
	position:absolute;
	left:320px;
	top:90px;
	width:510px;

	
	
}

#menu
{
	border:solid 1px;
	position:absolute;
	top:90px;
	width:300px;
	height:400px;
	
}


label {
float:left;
width:90px;
 
 }

label.rechercheFilm
{
 font-size:15px;	
 width:150px;
} 
 
 #formulaire_connexion .petitChamp
 {
  display:inline;
  height:18px;
   font-size:10px;
   width:100px;
 }
 
 #formulaire_connexion fieldset
 {
  border:0px;
 }

 #div_boutons_submit
 {
 	
 	width:20px;
 	heigh:20px;
 	position:absolute;
 	top:0px;
 	left:310px;
 }
 
 .spanError
 {
  font-size:10px;
  color:red;
 }