body
{


}

#header
{
	border:solid 1px;
	position:absolute;
	width:820px;
	height:50px;
}

#header #zone_connexion
{
 position:absolute;
 top:0px;
 left:470px;
 width:350px;
 height:50px;
 border:solid 1px;
}

#corps
{
	border:solid 1px;
	position:absolute;
	left:320px;
	top:70px;
	width:510px;
	height:400px;
	
	
}

#menu
{
	border:solid 1px;
	position:absolute;
	top:70px;
	width:300px;
	height:400px;
	
	widh:300px;
}


label {
float:left;
width:90px;
 
 }
 
 #formulaire_connexion .petitChamp
 {
  display:inline;
  height:10px;
   font-size:10px;
   width:100px;
 }

 